 body {background:  #e3faff}
*{
 margin:0;
}
h1{
font-family:Serif ;
color:#60BA7C;
font-size:60px;
background:#125D92;
padding:50px
}
p.title{
position:absolute;
top:40px;
left:340px
}
p.temas{
background: #88d2db;
padding:0px
position:absolute;
top:140px;
left:350px;
margin-top:100px;
margin-left:80px;
margin-right:80px;
border-style:solid;
border-color: #88d2db;
border-width:2px;
border-radius:20px 20px 20px 20px;
}
a:link{
text-decoration:none;
font-family:Cursive;
color:white;
font-size:20px;
}
a:visited.pg1{
text-decoration:nome;
font-family:Cursive;
color:purple;
font-size:20px
}
a:visited.cr1{
text-decoration:nome;
font-family:Cursive;
color:#60BA7C;
font-size:20px
}
a:visited.imp1{
text-decoration:nome;
font-family:Cursive;
color:#60BA7C;
font-size:20px
}
a:visited.d1{
text-decoration:nome;
font-family:Cursive;
color:#60BA7C;
font-size:20px
}
a:visited.pd1{
text-decoration:nome;
font-family:Cursive;
color:#60BA7C;
font-size:20px
}
a:visited.uc1{
text-decoration:nome;
font-family:Cursive;
color:#60BA7C;
font-size:20px
}
a:visited{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px
}
h2{
background:#336fa8 ;
padding:50px;
}
p.sub{
font-family:Serif;
color:#60BA7C;
font-size:50px;
}
p.p1{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
top:650px;
left:10%;
right:50%
}
p.p2{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
top:800px;
left:10%;
right:50%
}
img.ag1{
border-style:solid;
border-width:2px;
border-radius:80px;
width:35%;
height:30%;
position:absolute;
top:650px;
left:60%;
right:20%;
}
h3.p5{
font-family:Serif;
color:black;
font-size:40px;
position:absolute;
left:8%;
margin-top:510px;
}
p.p3{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:570px;
left:10%;
right:50%
}
img.bs1{
border-style:solid;
border-width:2px;
border-radius:80px;
width:35%;
height:30%;
position:absolute;
margin-top:520px;
left:60%;
right:20%;
}
h3.p4{
font-family:Serif;
color:black;
font-size:40px;
position:absolute;
left:8%;
margin-top:80px;
}
p.p1{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:70px;
left:10%;
right:50%
}


