 a:visited.imp1{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.d1{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.pd1{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.uc1{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.6{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.7{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.8{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.9{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.10{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.11{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.12{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
a:visited.13{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}