 body {background:  #e3faff}
*{
 margin:0;
}
h1{
font-family:Serif ;
color:#60BA7C;
font-size:60px;
background:#125D92;
padding:50px
}
p.title{
position:absolute;
top:40px;
left:340px}
p.temas{
background: #88d2db;
padding:0px
position:absolute;
top:140px;
left:350px;
margin-top:100px;
margin-left:80px;
margin-right:80px;
border-style:solid;
border-color: #88d2db;
border-width:2px;
border-radius:20px 20px 20px 20px;
}
a:link{
text-decoration:none;
font-family:Cursive;
color:white;
font-size:20px;
}
a:visited.pg1{
text-decoration:nome;
font-family:Cursive;
color:purple;
font-size:20px}
a:visited.cr1{
text-decoration:nome;
font-family:Cursive;
color:#60BA7C;
font-size:20px}
a:visited.imp1{
text-decoration:nome;
font-family:Cursive;
color:#60BA7C;
font-size:20px}
a:visited.d1{
text-decoration:nome;
font-family:Cursive;
color:#60BA7C;
font-size:20px}
a:visited.pd1{
text-decoration:nome;
font-family:Cursive;
color:#60BA7C;
font-size:20px}
a:visited{
text-decoration:nome;
font-family:Cursive;
color:white;
font-size:20px}
 
h2{
background:#336fa8 ;
padding:50px;
}
p.sub{
font-family:Serif;
color:#60BA7C;
font-size:50px;
}
h3.p1{
font-family:Serif;
color:black;
font-size:40px;
position:absolute;
left:8%;
margin-top:70px;
}
p.p1{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
top:700px;
left:10%;
right:50%}
h3.p2{
font-family:Serif;
color:black;
font-size:40px;
position:absolute;
left:8%;
margin-top:400px;
}
p.p2{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
top:1050px;
left:10%;
right:50%}
h3.p3{
font-family:Serif;
color:black;
font-size:40px;
position:absolute;
left:8%;
margin-top:750px;
}
p.p3{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:820px;
left:10%;
right:50%}
h3.p4{
font-family:Serif;
color:black;
font-size:40px;
position:absolute;
left:8%;
margin-top:1140px;
}
p.p4{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:1210px;
left:10%;
right:50%}
p.p4a{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:1320px;
left:10%;
right:50%}
p.p4b{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:1470px;
left:10%;
right:50%}
img.bs1{
border-style:solid;
border-width:2px;
border-radius:80px;
width:35%;
height:30%;
position:absolute;
margin-top:650px;
left:60%;
right:20%;
}

 
img.ag1{
border-style:solid;
border-width:2px;
border-radius:80px;
width:35%;
height:30%;
position:absolute;
top:700px;
left:60%;
right:20%;
}
h3.p5{
font-family:Serif;
color:black;
font-size:40px;
position:absolute;
left:8%;
margin-top:1650px;
}
p.p5{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:1720px;
left:10%;
right:50%}
p.p5a{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:1900px;
left:10%;
right:50%}
p.p5b{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:2180px;
left:10%;
right:50%}
h3.p6{
font-family:Serif;
color:black;
font-size:40px;
position:absolute;
left:8%;
margin-top:2300px;
}
p.p6{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:2370px;
left:10%;
right:50%}
p.p9{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:2620px;
left:10%;
right:50%}
p.p7{
font-family:Cursive;
color:black;
font-size:30px;
position:absolute;
margin-top:2870px;
left:10%;
right:50%}
 
img.bs2{
border-style:solid;
border-width:2px;
border-radius:80px;
width:35%;
height:30%;
position:absolute;
margin-top:1150px;
left:60%;
right:20%;
}
img.bs3{
border-style:solid;
border-width:2px;
border-radius:80px;
width:35%;
height:30%;
position:absolute;
margin-top:1650px;
left:60%;
right:20%;
}
img.bs9{
border-style:solid;
border-width:2px;
border-radius:80px;
width:35%;
height:30%;
position:absolute;
margin-top:2150px;
left:60%;
right:20%;
}

img.bs5{
border-style:solid;
border-width:2px;
border-radius:80px;
width:35%;
height:30%;
position:absolute;
margin-top:2600px;
left:60%;
right:20%;
}